/* rem and em do NOT depend on html font-size in media queries! 
Instead, 1 rem = 1 em = 16px
rem 根據字體大小
em 基本上是當前字體大小
有時 rem 在一些瀏覽器中用於media查詢時 顯然有一些BUG
因此不應該在media查詢中使用rem 而應該使用em*/

/**********************************/
/* BELOW 1344 (Smaller desktops)*/
/**********************************/

@media (max-width: 84em) {
  /* 這裡的rem 跟上面的 em 沒有關西
    (hero)它的工作方式 仍然跟以前完全一樣*/
  .hero {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/**********************************/
/* BELOW 1200 (Landscape Yablets)*/
/**********************************/
@media (max-width: 75em) {
  html {
    /* 9px / 16px =0.5625 原本是10px*/
    font-size: 56.25%;
  }
  .grid {
    column-gap: 4.8rem;
    row-gap: 6rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .testimonals-container {
    padding: 9.6rem 4.8rem;
  }
}

/**********************************/
/* BELOW 944 (Yablets)*/
/**********************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px =0.5 */
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text-box {
    text-align: center;
  }

  .hero-img-box {
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonals {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta {
    /* 3/5=60% 2/5=40% */
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 1.2rem;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    /* 透過此設定 讓此功能可以在Safari執行 */
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    /* 1.要動畫的屬性 2.持續時間 3.動畫類型(默認情況下過渡是線性的) */
    transition: all 0.5s ease-in;

    /* Hide navigatuon */
    /* 顯示器的問題: 
    當我們在一個元素上
    使用它(display: none)時
    不能做任何動畫 */
    /* Allows NO transition at all */
    /* display: none; */

    /* 1) Hide it visually */
    /* 不透明度為0 */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard*/
    /* 指針事件設置為none */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    /* 可見性設置為 隱藏 */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}
/**********************************/
/* BELOW 704 (Yablets)*/
/**********************************/
@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .diets {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .pricing-plan {
    width: 100%;
  }

  /* 為了讓頁腳 Account Company Resources 放在上面 然後占用2格
  logo-col  address-col 在底部 各占用3格*/
  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }

  .nav-col {
    grid-row: 1;
    /* 跨越兩格 */
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
}

/**********************************/
/* BELOW 544 (Phones)*/
/**********************************/

@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }
  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }
  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }
  .section-hero {
    padding: 2.4rem 0 4.8rem 0;
  }
  .hero {
    padding: 0 3.2rem;
  }
  .hero-img {
    width: 80%;
  }

  .logos img {
    height: 1.2rem;
  }
  /* step-img-box是 container grid grid--2-cols grid--center-v
  的第二個兒子
  把它換到第一行
  child 裡面的數字 
  指的是元素的子元素的數量*/
  .step-img-box:nth-child(2) {
    grid-row: 1;
  }

  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  .step-img-box {
    transform: translateY(2.4rem);
  }

  .testimonals {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-text-box {
    padding: 3.2rem;
  }

  .cta-img-box {
    height: 32rem;
    grid-row: 1;
  }
}
/*
- Font size  (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/**********************************/
/* Fixing Safari flexbox gap*/
/**********************************/

/* 基本上是在所有元素上應用樣式
但不是在最後一個子元素上 */
.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
  margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .meal-icon {
  margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media (max-width: 75em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

@media (max-width: 59em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}
